.container {
  margin-top: 0.8em;
}
.navbar {
  justify-content: center;
}
.navbar {
  background-color: #e9ecef;
  border-radius: 3px;
  font-size: 2rem;
  font-weight: 300;
  margin-bottom: 0.5rem;
}
.display-4 {
  font-size: 2.3rem;
  font-weight: 400;
}
.card-columns {
  column-count: 1;
}
.card-columns .card {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  margin-bottom: 2rem;
}
.soil-info,
.btn-show-all {
  background: #d7ccc8; /* brown lighten-4 */
  border-radius: 3px;
  cursor: pointer;
  display: inline-block;
  margin: 2px;
  min-width: 32%;
  padding: 4px 8px;
  text-align: center;
  transition: 0.8s;
}
.btn-parent {
  margin-bottom: 0.5rem;
}
.btn-show-all {
  display: inline;
}
.fa-times {
  color: #8d6e63; /* brown lighten-1 */
}
.soil-info:hover {
  background: #8d6e63; /* brown lighten-1 */
  color: white;
}
.darker {
  filter: brightness(70%);
}
.card-latin {
  text-align: right;
}
.hide {
  display: none;
}
h1 {
  font-weight: 500;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .display-4 {
    font-size: 3.5rem;
    font-weight: 300;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .card-columns {
    column-count: 2;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .card-columns {
    column-count: 3;
  }
}

/* Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {} */
